body,ul,h1,h2{      /* 여기서 글꼴 가져오려면 link로 가져오는거 말고 import로 가져와야함*/
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../jquery_image/bg2.png');
    background-position: top;
    font-family: 'Lobster';
}

li{
    list-style: none;   /* 맨앞에 점박이 없애는거 */
}

.album{
    overflow: hidden;
    width: 1100px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -300px;
}

.album .cover{
    float: left;
    position: relative;
    z-index: 10;            /* 이 숫자는 상대적인거뿐임 */
}

#cd{
    float: left;
    width: 300px;
    height: 500px;
    position: relative;
    left: -60px;
    top: 45px;
    background-image: url('../jquery_image/cd-sprite.png');
    background-position: right top;
}

/* 노래를 선택하면 그곳의 class를 꺼내 #cd에 추가할거 */
#cd.music1{background-position: right top;}
#cd.music2{background-position: right center;}
#cd.music3{background-position: right bottom;}

.select-music{
    cursor: pointer;
    width: 540px;
    position: absolute;
    left: 110px;
    top: 50px;
    z-index: 100;
}
.select-music h1.title{
    background-color: #fff;
    background-image: url('../jquery_image/play.png');
    background-repeat: no-repeat;   /* repeat은 바둑판형식으로 그림이 반복되고 x는 x축으로 y는 y축으로 no-는 1개의 그림만 */
    height: 40px;
    line-height: 40px;
    color: #f60;
    text-indent: 45px;          /* 입력한 값만큼 들여쓰기 */
    font-size: 25px;
}

.select-music .music-list{
    height: 40px;
    line-height: 40px;
    color: #666;
    text-indent: 15px;          /* 입력한 값만큼 들여쓰기 */
    font-size: 20px;
    background-color: rgba(0,0,0,0.8);
}

.select-music .music-list li:hover{
    background-color: #f60;
    color: #fff;
}

.select-music .music-list{
    display: none;      /* 숨기기 */
}